:root {

    /*Color*/
    --White-color: #ffffff;
    --Blue-color: #4F90FF;
    --Cornflower-color: #B9C0EE;
    --Black-color: #1A1A1A;

    /*Radius*/
    --Border-radius: 100px;

    /*Font*/
    --Font-size-3: 3.125rem;
    --Font-size-2: 1.5rem;
    --Font-size: 1.2rem;
    --Font-size-button: 1rem;
    --Font-size-text: 0.9rem;
    --Font-size-mobile: 0.8rem;
    --Font-color: #1A1A1A;

    /*Shadow*/

    --Box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);

}


h1 {
    font-size: 72px;
    font-family: Montserrat-Bold, serif;
}

p{
    font-size: 22px;
    font-family: Montserrat-Medium, serif;
}

h2 {
    font-size: 34px;
    font-family: Montserrat-Bold, serif;
}
